<div class="m-control m-catastrosearch-container">
    <!-- TITLE -->
    <div class="title">Búsqueda catastral </div>

    <!-- FORM -->
    <div class="form catastro">
       
            <!-- Provincia -->
            <div class="province">
                <label>Provincia</label>
                <select name="provincelist">
                    <option value="">Provincia...</option>
                    {{#each provincias}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <!-- Municipio -->
            <div class="municipality">
                <label>Municipio</label>
                <select name="municipalitylist">
                    <option value="">Municipio...</option>
                </select>
            </div>
            <!-- Poligono -->
            <div class="polygon">
                <label>Polígono</label>
                <input type="number">
            </div>
            <!-- Parcela -->
            <div class="parcel">
                <label>Parcela</label>
                <input type="number">
            </div>
        
       
            <div class="refcatastral">
                <label>Referencia Catastral</label>
                <input type="text">
            </div>
        
    </div>
    <!-- buttons -->
    <div class="button">
        <button class="load" title="Buscar coordenada" disabled>
            <i class="g-cartografia-posicion3"></i> Buscar</button>
        <button class="clear" title="Limpiar coordenadas" disabled>
            <i class="g-cartografia-check4"></i> Limpiar</button>
    </div>
</div>